## Predicting flight delays

##### Supervised learning: 
 1) Regression problem: Predict delay of flights 1 week in advance 
 2) (Stretch) Multiclass Classification: Predict type of delay it will be
 3) (Stretch) Binary Classification Predict if the flight will be cancelled.
 
##### Feature engineering
##### Sampling
##### JDBC connetion to a Postgres database
##### Future role as Data Scientist or Machine Learning Engineer

In [1]:
import pandas as pd

flights = pd.read_csv('flights_allmonth.csv', delimiter=',')

In [2]:
flights.head()

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,...,distance,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,first_dep_time,total_add_gtime,longest_add_gtime,no_name
0,2019-01-01,DL,DL_CODESHARE,DL,3698,OO,N923EV,3698,10397,ATL,...,170,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2019-01-01,DL,DL_CODESHARE,DL,3698,OO,N923EV,3698,11308,DHN,...,170,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-01-01,DL,DL_CODESHARE,DL,3699,OO,N604SK,3699,13487,MSP,...,284,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2019-01-01,DL,DL_CODESHARE,DL,3702,OO,N878AS,3702,12884,LAN,...,455,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-01-01,DL,DL_CODESHARE,DL,3703,OO,N604SK,3703,11898,GFK,...,284,0.0,57.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN

In [3]:
flights.columns

Index(['fl_date', 'mkt_unique_carrier', 'branded_code_share', 'mkt_carrier',
       'mkt_carrier_fl_num', 'op_unique_carrier', 'tail_num',
       'op_carrier_fl_num', 'origin_airport_id', 'origin', 'origin_city_name',
       'dest_airport_id', 'dest', 'dest_city_name', 'crs_dep_time', 'dep_time',
       'dep_delay', 'taxi_out', 'wheels_off', 'wheels_on', 'taxi_in',
       'crs_arr_time', 'arr_time', 'arr_delay', 'cancelled',
       'cancellation_code', 'diverted', 'dup', 'crs_elapsed_time',
       'actual_elapsed_time', 'air_time', 'flights', 'distance',
       'carrier_delay', 'weather_delay', 'nas_delay', 'security_delay',
       'late_aircraft_delay', 'first_dep_time', 'total_add_gtime',
       'longest_add_gtime', 'no_name'],
      dtype='object')

In [4]:
fuel_consumption = pd.read_csv('fuel_consumption.txt', delimiter=',')

In [5]:
fuel_consumption.sample(5)

,month,airline_id,unique_carrier,carrier,carrier_name,carrier_group_new,sdomt_gallons,satl_gallons,spac_gallons,slat_gallons,...,sdomt_cost,satl_cost,spac_cost,slat_cost,sint_cost,ts_cost,tdomt_cost,tint_cost,total_cost,year
1769,9,19805.0,AA,AA,American Airlines Inc.,3,173332233.0,59590592.0,18011865.0,40958807.0,...,262740494,81617873.0,23361912.0,64559699.0,169539484.0,432279978,263625973,169748674.0,433374647,2015
2050,2,20166.0,GFQ,GFQ,Gulf And Caribbean Cargo,1,0.0,0.0,0.0,0.0,...,0,0.0,0.0,0.0,0.0,0,635761,229579.0,865340,2019
1029,7,20166.0,GFQ,GFQ,Gulf And Caribbean Cargo,1,0.0,0.0,0.0,0.0,...,0,0.0,0.0,0.0,0.0,0,348869,380634.0,729503,2017
1746,8,20448.0,S5,S5,Shuttle America Corp.,2,7066823.0,0.0,0.0,0.0,...,10640375,0.0,0.0,0.0,0.0,10640375,10640375,0.0,10640375,2015
2247,6,21167.0,CP,CP,Compass Airlines,2,0.0,0.0,0.0,0.0,...,0,0.0,0.0,0.0,0.0,0,0,0.0,0,2019

In [6]:
fuel_consumption.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3035 entries, 0 to 3034
Data columns (total 25 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   month              3035 non-null   int64
 1   airline_id         3034 non-null   float64
 2   unique_carrier     3034 non-null   object
 3   carrier            3035 non-null   object
 4   carrier_name       3034 non-null   object
 5   carrier_group_new  3035 non-null   int64
 6   sdomt_gallons      3034 non-null   float64
 7   satl_gallons       3034 non-null   float64
 8   spac_gallons       3034 non-null   float64
 9   slat_gallons       3033 non-null   float64
 10  sint_gallons       3034 non-null   float64
 11  ts_gallons         3034 non-null   float64
 12  tdomt_gallons      3032 non-null   float64
 13  tint_gallons       3034 non-null   float64
 14  total_gallons      3029 non-null   float64
 15  sdomt_cost         3035 non-null   int64
 16  satl_cost          3034 non-null   float64
 17  spac_cost          3034 non-null   float64
 18  slat_cost          3034 non-null   float64
 19  sint_cost          3034 non-null   float64
 20  ts_cost            3035 non-null   int64
 21  tdomt_cost         3035 non-null   int64
 22  tint_cost          3034 non-null   float64
 23  total_cost         3035 non-null   int64
 24  year               3035 non-null   int64
dtypes: float64(15), int64(7), object(3)
memory usage: 592.9+ KB

In [7]:
fuel_consumption.columns

Index(['month', 'airline_id', 'unique_carrier', 'carrier', 'carrier_name',
       'carrier_group_new', 'sdomt_gallons', 'satl_gallons', 'spac_gallons',
       'slat_gallons', 'sint_gallons', 'ts_gallons', 'tdomt_gallons',
       'tint_gallons', 'total_gallons', 'sdomt_cost', 'satl_cost', 'spac_cost',
       'slat_cost', 'sint_cost', 'ts_cost', 'tdomt_cost', 'tint_cost',
       'total_cost', 'year'],
      dtype='object')

In [8]:
# fuel_consultion includes international flights. to exclude those international flights
# Q. do we need to use fuel_consumption data??

In [9]:
fuel_consumption['sdomt_gallons'].value_counts()

0.0            1604
380174.0          2
89988.0           2
1277479.0         2
432202.0          2
               ...
414221.0          1
87506.0           1
435471.0          1
15300516.0        1
173203901.0       1
Name: sdomt_gallons, Length: 1427, dtype: int64

In [10]:
fuel_consumption= fuel_consumption.drop(fuel_consumption[(fuel_consumption.tdomt_cost == 0) | (fuel_consumption.tint_cost > 0)].index)
fuel_consumption

,month,airline_id,unique_carrier,carrier,carrier_name,carrier_group_new,sdomt_gallons,satl_gallons,spac_gallons,slat_gallons,...,sdomt_cost,satl_cost,spac_cost,slat_cost,sint_cost,ts_cost,tdomt_cost,tint_cost,total_cost,year
0,1,NaN,NaN,0JQ,NaN,1,0.0,0.0,0.0,0.0,...,0,0.0,0.0,0.0,0.0,0,5100,0.0,5100,2016
4,1,20408.0,5V,5V,Tatonduk Outfitters Limited d/b/a Everts Air A...,1,260848.0,0.0,0.0,0.0,...,522405,0.0,0.0,0.0,0.0,522405,569497,0.0,569497,2016
11,1,20453.0,ABX,ABX,ABX Air Inc,2,193054.0,0.0,0.0,0.0,...,461092,0.0,0.0,0.0,0.0,461092,461092,0.0,461092,2016
17,1,20366.0,EV,EV,ExpressJet Airlines Inc.,3,81827.0,0.0,0.0,0.0,...,159104,0.0,0.0,0.0,0.0,159104,159104,0.0,159104,2016
20,1,20368.0,G4,G4,Allegiant Air,3,11716758.0,0.0,0.0,0.0,...,14906048,0.0,0.0,0.0,0.0,14906048,15650180,0.0,15650180,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3014,12,20169.0,L2,L2,Lynden Air Cargo Airlines,1,106261.0,0.0,0.0,0.0,...,230050,0.0,0.0,0.0,0.0,230050,538326,0.0,538326,2018
3018,12,20108.0,NC,NC,Northern Air Cargo Inc.,1,347640.0,0.0,0.0,0.0,...,711359,0.0,0.0,0.0,0.0,711359,826432,0.0,826432,2018
3021,12,20304.0,OO,OO,SkyWest Airlines Inc.,3,8477821.0,0.0,0.0,0.0,...,19095798,0.0,0.0,0.0,0.0,19095798,19095798,0.0,19095798,2018
3029,12,20310.0,WL,WL,"Caribbean Sun Airlines, Inc. d/b/a World Atlan...",1,0.0,0.0,0.0,0.0,...,0,0.0,0.0,0.0,0.0,0,168103,0.0,168103,2018
3033,12,20452.0,YX,YX,Republic Airline,2,21048.0,0.0,0.0,0.0,...,50043,0.0,0.0,0.0,0.0,50043,50043,0.0,50043,2018

In [11]:
fuel_consumption = fuel_consumption.dropna(how='any',axis=0) 
fuel_consumption

,month,airline_id,unique_carrier,carrier,carrier_name,carrier_group_new,sdomt_gallons,satl_gallons,spac_gallons,slat_gallons,...,sdomt_cost,satl_cost,spac_cost,slat_cost,sint_cost,ts_cost,tdomt_cost,tint_cost,total_cost,year
4,1,20408.0,5V,5V,Tatonduk Outfitters Limited d/b/a Everts Air A...,1,260848.0,0.0,0.0,0.0,...,522405,0.0,0.0,0.0,0.0,522405,569497,0.0,569497,2016
11,1,20453.0,ABX,ABX,ABX Air Inc,2,193054.0,0.0,0.0,0.0,...,461092,0.0,0.0,0.0,0.0,461092,461092,0.0,461092,2016
17,1,20366.0,EV,EV,ExpressJet Airlines Inc.,3,81827.0,0.0,0.0,0.0,...,159104,0.0,0.0,0.0,0.0,159104,159104,0.0,159104,2016
20,1,20368.0,G4,G4,Allegiant Air,3,11716758.0,0.0,0.0,0.0,...,14906048,0.0,0.0,0.0,0.0,14906048,15650180,0.0,15650180,2016
28,1,21634.0,KH,KH,Aloha Air Cargo,1,413456.0,0.0,0.0,0.0,...,434504,0.0,0.0,0.0,0.0,434504,434504,0.0,434504,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3014,12,20169.0,L2,L2,Lynden Air Cargo Airlines,1,106261.0,0.0,0.0,0.0,...,230050,0.0,0.0,0.0,0.0,230050,538326,0.0,538326,2018
3018,12,20108.0,NC,NC,Northern Air Cargo Inc.,1,347640.0,0.0,0.0,0.0,...,711359,0.0,0.0,0.0,0.0,711359,826432,0.0,826432,2018
3021,12,20304.0,OO,OO,SkyWest Airlines Inc.,3,8477821.0,0.0,0.0,0.0,...,19095798,0.0,0.0,0.0,0.0,19095798,19095798,0.0,19095798,2018
3029,12,20310.0,WL,WL,"Caribbean Sun Airlines, Inc. d/b/a World Atlan...",1,0.0,0.0,0.0,0.0,...,0,0.0,0.0,0.0,0.0,0,168103,0.0,168103,2018
3033,12,20452.0,YX,YX,Republic Airline,2,21048.0,0.0,0.0,0.0,...,50043,0.0,0.0,0.0,0.0,50043,50043,0.0,50043,2018

In [12]:
fuel_consumption = fuel_consumption.drop(['airline_id', 'carrier', 'carrier_name','satl_gallons', 
                                          'spac_gallons','slat_gallons', 'sint_gallons', 'ts_gallons',
                                          'satl_cost', 'spac_cost','slat_cost', 'sint_cost'], axis=1)

In [13]:
#tdomt_gallons + tint_gallons(0) = total_gallons -> to delete domt_gallons, tint_gallons
#sdomt_cost = ts_cost -> to delete sdomt_cost
#total_cost = tdomt_cost + tint_cost(0) -> to delete tdomt_cost and tinit_cost
fuel_consumption = fuel_consumption.drop(['tint_gallons','tdomt_gallons','sdomt_cost','tint_cost',
                                          'tdomt_cost','sdomt_gallons','ts_cost'], axis=1)
fuel_consumption.reset_index(drop=True)

     month unique_carrier  carrier_group_new  total_gallons  total_cost  year
0        1             5V                  1       284362.0      569497  2016
1        1            ABX                  2       193054.0      461092  2016
2        1             EV                  3        81827.0      159104  2016
3        1             G4                  3     12264170.0    15650180  2016
4        1             KH                  1       413456.0      434504  2016
..     ...            ...                ...            ...         ...   ...
524     12             L2                  1       219581.0      538326  2018
525     12             NC                  1       401947.0      826432  2018
526     12             OO                  3      8477821.0    19095798  2018
527     12             WL                  1        64970.0      168103  2018
528     12             YX                  2        21048.0       50043  2018

[529 rows x 6 columns]

In [14]:
fuel_consumption.to_csv('fuel_fe.csv', index=False)

# Note

In [15]:
flights_test = pd.read_csv('flgihts_test.txt', delimiter=',')

In [16]:
flights_test.head()

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,origin_city_name,dest_airport_id,dest,dest_city_name,crs_dep_time,crs_arr_time,dup,crs_elapsed_time,flights,distance
0,1577865600000,WN,WN,WN,5888,WN,N951WN,5888,13891,ONT,"Ontario, CA",14771,SFO,"San Francisco, CA",1810,1945,N,95,1,363
1,1577865600000,WN,WN,WN,6276,WN,N467WN,6276,13891,ONT,"Ontario, CA",14771,SFO,"San Francisco, CA",1150,1320,N,90,1,363
2,1577865600000,WN,WN,WN,4598,WN,N7885A,4598,13891,ONT,"Ontario, CA",14831,SJC,"San Jose, CA",2020,2130,N,70,1,333
3,1577865600000,WN,WN,WN,4761,WN,N551WN,4761,13891,ONT,"Ontario, CA",14831,SJC,"San Jose, CA",1340,1455,N,75,1,333
4,1577865600000,WN,WN,WN,5162,WN,N968WN,5162,13891,ONT,"Ontario, CA",14831,SJC,"San Jose, CA",915,1035,N,80,1,333