In [1]:
import pandas as pd
import numpy as np

In [30]:
import pickle

In [39]:
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error

In [2]:
flights = pd.read_csv('flights_2019_passengers.csv')

In [3]:
flights.columns.values

array(['fl_date', 'mkt_unique_carrier', 'branded_code_share',
       'mkt_carrier', 'mkt_carrier_fl_num', 'op_unique_carrier',
       'tail_num', 'op_carrier_fl_num', 'origin_airport_id', 'origin',
       'origin_city_name', 'dest_airport_id', 'dest', 'dest_city_name',
       'crs_dep_time', 'dep_time', 'dep_delay', 'taxi_out', 'wheels_off',
       'wheels_on', 'taxi_in', 'crs_arr_time', 'arr_time', 'arr_delay',
       'cancelled', 'cancellation_code', 'diverted', 'dup',
       'crs_elapsed_time', 'actual_elapsed_time', 'air_time', 'flights',
       'distance', 'carrier_delay', 'weather_delay', 'nas_delay',
       'security_delay', 'late_aircraft_delay', 'first_dep_time',
       'total_add_gtime', 'longest_add_gtime', 'no_name', 'dep_condition',
       'arr_date', 'arr_condition', 'month', 'year', 'average_seats',
       'average_passengers', 'avg_passenger_capacity_usage'], dtype=object)

In [4]:
from sklearn.svm import SVR
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [ ]:
'''location = ['origin', 'dest']
carrier =  ['mkt_unique_carrier', 'branded_code_share', 'mkt_carrier', 'mkt_carrier_fl_num', 'op_unique_carrier','tail_num', 'op_carrier_fl_num']
time24hr = ['crs_dep_time', 'dep_time', 'wheels_off', 'wheels_on', 'crs_arr_time', 'arr_time']
flighttime = ['crs_elapsed_time', 'actual_elapsed_time', 'air_time', 'taxi_out', 'taxi_in']
drop = ['no_name','dup','dest_city_name','dest_airport_id', 'origin_airport_id', 'origin_city_name', 'flights']
stopover = ['first_dep_time', 'total_add_gtime', 'longest_add_gtime']
cancel = ['cancelled', 'cancellation_code','diverted']
crs = ['crs_dep_time', 'crs_arr_time', 'crs_elapsed_time']
delays= [arr_delay, 'dep_delay', 'carrier_delay, 'weather_delay', 'nas_delay', 'security_delay', 'late_aircraft_delay'] '''

In [6]:
flights[['arr_delay', 'dep_delay', 'carrier_delay', 'weather_delay', 'nas_delay', 'security_delay', 'late_aircraft_delay']].isna().sum()

arr_delay               2295
dep_delay               1933
carrier_delay          95892
weather_delay          95892
nas_delay              95892
security_delay         95892
late_aircraft_delay    95892
dtype: int64

In [5]:
flights = flights.drop(columns=['no_name','dup','dest_city_name','dest_airport_id', 'origin_airport_id', 'origin_city_name', 'flights'])

In [6]:
flights = flights.drop(columns=['mkt_unique_carrier', 'branded_code_share', 'mkt_carrier', 'mkt_carrier_fl_num', 'tail_num', 'op_carrier_fl_num'])

In [7]:
flights = flights.drop(columns=['arr_date','fl_date'])

In [8]:
flights = flights.drop(columns=['first_dep_time', 'total_add_gtime', 'longest_add_gtime', 'cancelled', 'cancellation_code','diverted'])

In [9]:
flights = flights.drop(columns = ['year'])

In [10]:
flights = flights.drop(columns = ['dep_delay', 'carrier_delay', 'weather_delay', 'nas_delay', 'security_delay', 'late_aircraft_delay'])

In [11]:
flights.head()

,op_unique_carrier,origin,dest,crs_dep_time,dep_time,taxi_out,wheels_off,wheels_on,taxi_in,crs_arr_time,...,crs_elapsed_time,actual_elapsed_time,air_time,distance,dep_condition,arr_condition,month,average_seats,average_passengers,avg_passenger_capacity_usage
0,OO,ORD,COS,955,1056.0,25.0,1121.0,1253.0,6.0,1152,...,177,183.0,152.0,911,Overcast,Partly cloudy,1,1002.000000,777.666667,0.776114
1,OH,MYR,CLT,2157,2158.0,10.0,2208.0,2248.0,20.0,2311,...,74,70.0,40.0,157,Cloudy,Sunny,1,6327.333333,4898.333333,0.774154
2,OH,BDL,DCA,1151,1212.0,7.0,1219.0,1328.0,3.0,1325,...,94,79.0,69.0,313,Sunny,Sunny,1,3516.500000,2697.250000,0.767027
3,OH,DCA,BDL,1009,1013.0,32.0,1045.0,1137.0,3.0,1126,...,77,87.0,52.0,313,Sunny,Sunny,1,3460.000000,2494.500000,0.720954
4,OH,DCA,GSP,2000,1955.0,13.0,2008.0,2120.0,2.0,2134,...,94,87.0,72.0,396,Sunny,Partly cloudy,1,1511.000000,847.333333,0.560777

In [12]:
flights= flights.dropna()

In [ ]:
flights= flights.reset_index(drop=True)

In [13]:
delays = flights[['arr_delay']]

In [14]:
delays = delays.clip(lower=0)

In [15]:
y = delays['arr_delay']

In [23]:
flights.dtypes

op_unique_carrier                object
origin                           object
dest                             object
crs_dep_time                      int64
dep_time                        float64
taxi_out                        float64
wheels_off                      float64
wheels_on                       float64
taxi_in                         float64
crs_arr_time                      int64
arr_time                        float64
crs_elapsed_time                  int64
actual_elapsed_time             float64
air_time                        float64
distance                          int64
dep_condition                    object
arr_condition                    object
month                             int64
average_seats                   float64
average_passengers              float64
avg_passenger_capacity_usage    float64
dtype: object

0         67.0
1          0.0
2          6.0
3         14.0
4          0.0
          ...
119995    25.0
119996    15.0
119997     6.0
119998     0.0
119999    14.0
Name: arr_delay, Length: 117705, dtype: float64

In [17]:
flight_obj = flights.select_dtypes('object')

In [18]:
flight_dummies = pd.get_dummies(flight_obj)

In [19]:
flights_num = pd.merge(flights, flight_dummies, left_index=True, right_index=True)

In [20]:
flights_num = flights_num.select_dtypes(exclude=['object'])

In [22]:
scaler = StandardScaler()

In [23]:
scaler.fit(flights_num)

StandardScaler()

In [24]:
flights_scaled = scaler.transform(flights_num)

In [25]:

X_train, X_test, y_train, y_test= train_test_split(flights_scaled, y, test_size=0.2, random_state=7)

In [26]:
flights_num.shape

(117705, 865)

In [27]:
regr = SVR(C=1.0, epsilon=0.2)

In [28]:
regr.fit(X_train,y_train)

SVR(epsilon=0.2)

In [29]:
y_pred = regr.predict(X_test)

In [35]:
r2_score(y_test, y_pred)

0.46873094940072524

In [37]:
mean_squared_error(y_test, y_pred)

1221.1517900283407

In [40]:
mean_absolute_error(y_test, y_pred)

10.153523461550819

In [38]:
filename = 'svr_test.sav'
pickle.dump(regr, open(filename, 'wb'))