In [48]:
import pandas as pd

df = pd.read_csv('flights.txt', delimiter=',')

In [49]:
df

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,...,distance,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,first_dep_time,total_add_gtime,longest_add_gtime,no_name
0,2019-09-30,AS,AS,AS,658,AS,N265AK,658,14747,SEA,...,1660,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2019-09-30,AS,AS,AS,660,AS,N236AK,660,14747,SEA,...,1660,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-09-30,AS,AS,AS,663,AS,N265AK,663,11298,DFW,...,1660,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2019-09-30,AS,AS,AS,665,AS,N517AS,665,12478,JFK,...,2569,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-09-30,AS,AS,AS,667,AS,N275AK,667,11298,DFW,...,1660,0.0,0.0,38.0,0.0,0.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,2019-01-01,HA,HA,HA,366,HA,N483HA,366,12173,HNL,...,100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9996,2019-01-01,HA,HA,HA,368,HA,N485HA,368,12173,HNL,...,163,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9997,2019-01-01,HA,HA,HA,371,HA,N494HA,371,12402,ITO,...,216,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9998,2019-01-01,HA,HA,HA,372,HA,N494HA,372,12173,HNL,...,216,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9999,2019-01-01,HA,HA,HA,377,HA,N491HA,377,12758,KOA,...,163,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [51]:
df.columns

Index(['fl_date', 'mkt_unique_carrier', 'branded_code_share', 'mkt_carrier',
       'mkt_carrier_fl_num', 'op_unique_carrier', 'tail_num',
       'op_carrier_fl_num', 'origin_airport_id', 'origin', 'origin_city_name',
       'dest_airport_id', 'dest', 'dest_city_name', 'crs_dep_time', 'dep_time',
       'dep_delay', 'taxi_out', 'wheels_off', 'wheels_on', 'taxi_in',
       'crs_arr_time', 'arr_time', 'arr_delay', 'cancelled',
       'cancellation_code', 'diverted', 'dup', 'crs_elapsed_time',
       'actual_elapsed_time', 'air_time', 'flights', 'distance',
       'carrier_delay', 'weather_delay', 'nas_delay', 'security_delay',
       'late_aircraft_delay', 'first_dep_time', 'total_add_gtime',
       'longest_add_gtime', 'no_name'],
      dtype='object')